matplotlib==3.9.2
numpy==1.26.3
opencv-python-headless==4.10.0.84
pandas==2.2.3
pillow==11.0.0
qdrant-client==1.12.1
roboflow==1.1.49
supervision==0.25.0
torch==2.5.1
torchvision==0.20.1
transformers==4.46.3
ultralytics==8.3.38
clip @ git+https://github.com/openai/clip@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
intrinsic @ git+https://github.com/compphoto/Intrinsic.git@4e8a2022a72ce86f2b4807daaf31cab12e39d2bb